<configuration>
	<packageSources>
		<clear/>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
		<add key="UniGithub" value="https://nuget.pkg.github.com/daos16/index.json"/>
	</packageSources>
	<packageSourceCredentials>
		<UniGithub>
			<add key="Username" value="Daos16"/>
			<add key="ClearTextPassword" value="%DAOS16_NUGET_KEY%"/>
		</UniGithub>
	</packageSourceCredentials>
	<packageSourceMapping>
		<packageSource key="UniGithub">
			<package pattern="Uni.*"/>
			<package pattern="NuGet.Common"/>
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="*"/>
		</packageSource>
	</packageSourceMapping>
</configuration>