<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="wrapper">
        <div class="map">
            <img src="/img/default-map-background.jpg" alt="mapBackgroundImage" id="mapBackgroundImage">
            <img src="/img/default-map-topology.svg" alt="mapTopology" id="mapTopology">
        </div>
    </div>

    <script>
        const __gameApiUrl = "<%= process.env.API_URL %>";
        const __gameId = "<%= gameId %>";
    </script>
    <script src="/js/play.js"></script>
</body>

</html>