@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

@import 'config/vars';
@import 'config/reset';
@import 'config/global';


@import 'layout/header';
@import 'layout/footer';
@import 'layout/main-page';
@import 'layout/game-page';