.header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: $headerHeight + calc($mainOffset / 2);
    padding-top: calc($mainOffset / 2);

    box-shadow: 0px 4px 4px rgba(13, 96, 111, 50%);

    &__container {
        height: $headerHeight;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        align-items: flex-start;
        flex: 0 1 auto;

        &_img {
            width: 40px;
            height: 40px;
        }
        &_text {
            margin-left: 6px;
            font-family: $mainFont;
            font-size: 32px;
            line-height: 39px;
            color: $fontColor;
            transition: $standartTrans;
            &:hover {
                color: $secondAccentColor;
            }
        }
    }
    &__menu {
        margin: 0 auto;
        flex: 1 1 auto;
    }
}

.menu {
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__link {
        font-family: $mainFont;
        line-height: 21px;
        color: $fontColor;
        font-size: 16px;
        transition: $standartTrans;
        &:hover {
            color: $secondAccentColor;
        }
        &__play_now {
            border: 1px solid $fontColor;
            border-radius: 10px;
            box-shadow: $btnBoxShadow;
            padding: 5px;
            font-size: 26px;
        }
    }
}
