$mainOffset: 15px;
$mainFont: 'Forum', serif;

$headerHeight: 64px;
$footerHeight: 60px;

$whiteColor: rgb(248, 248, 248);
$firstAccentColor: #F2785C;
$secondAccentColor: #0D606F;
$fontColor: #0C0B10;
$main-bg: #2c3d49;
$main-bg-hover: #28485f;
$btnBoxShadow:  0px 4px 4px rgba(0, 0, 0, 25%), 
                0px 2px 3px rgba(13, 96, 111, 16%);

$lightBoxShadow:  0 0 2px 0 rgba(#000, 10%), 
                  0 0 4px 0 rgba(#000, 10%), 
                  0 0 8px 0 rgba(#000, 10%);

$hoverBoxShadow:  0 0 5px 0 rgba(#000, 15%), 
                  0 0 10px 0 rgba(#000, 15%), 
                  0 0 15px 0 rgba(#000, 15%);

$standartTrans: all 280ms ease 0ms;
$mainRadius: 10px;